<nav>
    <div id="left-side">
        <h4>Auth0</h4>
    </div>
    <div id="right-side">
        <% if (!isAuthenticated) { %>
            <a href="/login"><button>Log In</button></a>
        <% } %>
        <a href="/logout"><button>Log Out</button></a>
    </div>
</nav>